
<div class="cell ">
  <% colour_class = colour_class( @check_solution,
                                  @puzzle[cell_index],
                                  @current_solution[cell_index],
                                  @solution[cell_index])

    is_read_only = @puzzle[cell_index].to_i == 0 ? '' : 'readonly'
  %>
  <% cell_value = cell_value(@current_solution[cell_index]) %>
  <input class="<%= colour_class %>" type="text" maxlength="1" autocomplete="off" value="<%= cell_value %>"  name="cell[]" <%= is_read_only %>>
</div>