div.box, div.cell {
  display: inline-block;
}

.cell input {
  width: 30px;
  height: 30px;
}

#sudoku {
	font-size:  0;
	text-align: center;
}

.box {
  border: 1px solid black;
  outline: 1px solid black;
}

body {
	text-align: center;
	font-family: Arial;
}

.incorrect {
	background-color: yellow;
}

.value-provided {
	background-color: #DDD;
}

#flash {
	margin: 20px;
}